{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block main %}
  <h1><button onclick="window.location.href = 'https://github.com/LVVS666';">Привет,я автор:)</button></h1>
  <p>
    Я пока что еще учусь <button onclick="window.location.href = 'https://www.youtube.com/playlist?list=PLA0M1Bcd0w8xO_39zZll2u1lz_Q-Mwn1F';">По видео с ютуба</button>
    и на суперультраплатформе <button onclick="window.location.href = 'https://practicum.yandex.ru/profile/python-developer-plus/';">ЯНДЕКСДЖЕДАЙМАСТЕР</button>
  </p>
{% endblock %}
